<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="BR Publications - Your source for the latest research and publications in the field of science and technology.">
    <meta name="keywords" content="html, css, javascript">

    <title>BR Publications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/brands.min.css">

    <link rel="stylesheet" href="currentissues-components.css">
    <link rel="icon" href="../images/BR_logo.png" type="image/x-icon">
</head>

<body>
    <main class="content">
        <!-- journal Page -->
        <section id="journal-current-issues" class="journal-current-issues">
            <section class="journal-hero">
                <h1>JAMES</h1>
                <p>(Journal of Advances in Management, Engineering and Science)</p>
            </section>

            <div class="journal-wrapper">
                <!-- Main Content -->
                <div class="journal-container">
                    <!-- journal Section -->
                    <section class="journal-section" id="journal-overview">
                        <section class="current-issue" id="current-issue">
                            <div class="cta-section">
                                <h3>Currently there are no issues :)</h3>
                            </div>

                        </section>
                    </section>
                </div>
            </div>
        </section>
    </main>
    <script src="test.js"></script>
</body>

</html>