<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="BR Publications - Your source for the latest research and publications in the field of science and technology.">
    <meta name="keywords" content="html, css, javascript">

    <title>BR Publications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/brands.min.css">

    <link rel="stylesheet" href="editorialteam-components.css">
    <link rel="icon" href="../images/BR_logo.png" type="image/x-icon">
</head>

<body>
    <main class="content">
        <!-- journal Page -->
        <section id="journal-editorial" class="journal-editorial">
            <section class="journal-hero">
                <h1>JAMES</h1>
                <p>(Journal of Advances in Management, Engineering and Science)</p>
            </section>

            <div class="journal-wrapper">
                <!-- Main Content -->
                <div class="journal-container">
                    <!-- journal Section -->
                    <section class="journal-section " id="journal-overview">
                        <section class="editorial-section " id="editorial-section">
                            <div class="benefits-section">
                                <h3>Editorial Team</h3>
                                <div class="benefits-grid">
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Editor-in-Chief</h4>
                                            <p><strong>Dr.V.Bhoopathy Rajan</strong><br>Department of CSE,<br>Malla
                                                Reddy
                                                College of Engineering, Hyderabad</p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Associate Editor-in-Chief</h4>
                                            <p><strong>Dr.R.Rajagopal</strong><br>School of Computing,<br>Alliance
                                                University, Bangaluru</p>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="benefits-section">
                                <h3>Editorial Board</h3>
                                <div class="benefits-grid">
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Polinpapilinho F. Katina, Ph.D., CPEM</h4>
                                            <p>Assistant
                                                Professor, Informatics and
                                                Engineering Systems<br>University of South Carolina
                                                Upstate,<br>Spartanburg,
                                                SC 29303 South Carolina, USA</p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr P.Karthikeyan</h4>
                                            <p>Associate Professor, School of Computer
                                                Science and Engineering<br>RV University, Bengaluru, India.</p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr. Jeyaprakash Chelladurai</h4>
                                            <p>Assistant Professor, <br>Business
                                                & Computer Science Department<br>Stephen Poorman College of Business,
                                                Information Systems and Human Services<br>Lock Haven, PA 17745, USA</p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr. Hatem S. A. Hamatta</h4>
                                            <p>Department of Applied Sciences,
                                                Aqaba University
                                                College,<br>Al Balqa Applied University, Aqaba, Jordan.<br></p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr.Shams Tabrez Siddiqui</h4>
                                            <p>Department of computer
                                                science,<br>College of
                                                computer science and information technology,<br>Jazan University Jazan,
                                                Saudi Arabia<br></p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr.S.Prabu</h4>
                                            <p>Associate Professor, Department of Banking
                                                Technology<br>Pondicherry University, India<br></p>
                                        </div>
                                    </div>
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4>Dr.sujata Atul Oak</h4>
                                            <p>Professor, Information Technology, <br>DY Patil Deemed
                                                to be university<br>Nerul, Mumbai</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </section>
    </main>
    <script src="editorialteam-components.js"></script>
</body>

</html>