<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description"
        content="BR Publications - Your source for the latest research and publications in the field of science and technology.">
    <meta name="keywords" content="html, css, javascript">

    <title>BR Publications</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/fontawesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/brands.min.css">

    <link rel="stylesheet" href="archives-components.css">
    <link rel="icon" href="../images/BR_logo.png" type="image/x-icon">
</head>

<body>
    <main class="content">
        <!-- journal Page -->
        <section id="journal-archive" class="journal-archive">
            <section class="journal-hero">
                <h1>JAMES</h1>
                <p>(Journal of Advances in Management, Engineering and Science)</p>
            </section>

            <div class="journal-wrapper">
                <!-- Main Content -->
                <div class="journal-container">
                    <!-- journal Section -->
                    <section class="journal-section " id="journal-overview">
                        <section class="editorial-section " id="editorial-section">
                            <div class="benefits-section">
                                <h3>Archive / Past Issues</h3>
                                <div class="benefits-grid">
                                    <div class="benefit-item">
                                        <div class="benefit-text">
                                            <h4><a onclick="loadPage('aboutjournal-components', 'journal-about')">JAMES - 01 - 01</a></h4>
                                            <p>Vol. 1 No. 01 (2025)</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </section>
                    </section>
                </div>
            </div>
        </section>
    </main>
    <script src="archives-components.js"></script>
</body>

</html>